body{
    background-color: rgb(202, 200, 200);
}

/*-----------Header-----------*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 30%;
    background-color: orange;
}

header a{
    color: white;
}

/*-----------Main-----------*/

main{
    display: flex;
    justify-content: space-around;
}

main img{
    width: 11em;
    height: 11em;
    border-radius: 50%;
}

main div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5em;
    padding: 0.5em;
    border-radius: 20%;
    background-color: rgb(248, 248, 206);
}

main button{
    border: none;
    border-radius: 10%;
    margin-top: 1em;
    padding: 0.1rem;
    width: 5rem;
    background-color: red;
    color: white;
}

/*-----------Footer-----------*/
footer{
    margin-top: 1.5em;
    padding: 0.4em;
    text-align: justify;
    font-size: 0.9em;
    background-color: orange;
}

footer h3{
    font-size: 1.5em;
    color: red;
}