@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap');

:root{
    --font-family-indie: 'Indie Flower', cursive;
    --font-family-permanent: 'Permanent Marker', cursive;
    --pading-padrao: 5px;
}

body{
    background-color: rgb(221, 217, 217);
}

header{
    margin: auto;
    width: calc(100% - 10rem);
    font-size: 2em;
    font-family: var(--font-family-permanent);
    text-align: center;
    margin-bottom: 20px;
}

main{
    padding: 2em;
    font-size: 2em;
    font-family: var(--font-family-indie);
    margin: auto;
    width: calc(100% - 10em);
    border: 1px solid black;
    border-radius: 7%;
    background-color: #ffd700;
}

.dados{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dados input{
    width: 4.7em;
    background-color: orange;
    color: white;
    border-radius: 20%;
    font-size: 1.1em;
}

.dados button{
    margin-top: 1em;
    margin-bottom: 1em;
    align-self: center;
    font-family: var(--font-family-indie);
    font-size: 1.4em;
    border: none;
    border-radius: 100%;
    padding: 20px;
    background-color: orangered;
    color: whitesmoke;
}

.resultado{
    margin: auto;
    font-size: 1.3em;
}

#resultadoJuros{
    font-weight: bold;
    color: red;
}

#resultadoMontante{
    font-weight: bold;
    color: red;
}

footer{
    margin: auto;
    padding: 5%;
    width: 80%;
    text-align: center;
    font-family: var(--font-family-indie);
    font-size: 0.9rem;

}